body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: small; /*0.8em; /*14px;*/
  margin: 0;
  color: #444;
}

h2,h3 {
  color: red;
  font-family: "Merriweather", serif;
  font-size: 0.85vw;
  text-align: center;
  -webkit-text-size-adjust: none; /*empêche le zoom automatique du texte sur android (-webkit)*/
}

h4, a {
  font-size: 0.8vw;
}

button, p#dynamique {
  font-size: 0.8vw;
}

.elements {
  text-align: center;
  -webkit-text-size-adjust: none;  /*empêche le zoom automatique du texte sur android*/
}

ul,.main:hover {
  cursor: pointer;
}

.planete,.maison,.signe,img {
  cursor: default;
}

img {/* bulles info*/
  height: 1vw;
  width: 1vw;
}


input[type="image"][class="autoSet"]{
   max-width: 1.1vw;/* permet de réduire la taille quand on réduit la fenêtre*/
   padding: 0.2vw;
}
input[type="image"][class="add"]{
   max-width: 1.8vw;/* permet de réduire la taille quand on réduit la fenêtre*/
   padding: 0.2vw;
}
input[type="image"][class="play"]{
   max-width: 2.8vw;
}
input[type="button"]{
   font-size: 0.8vw;
}
input[type="radio"],input[type="checkbox"]{
  max-width: 0.8vw;
}

label {
    font-size: 0.8vw;
    color: blue;   
}

 .divLabel {
   font-size: 0.8vw;
   margin:4px;
 }
 
.cadreglobal {
  display: flex;
  flex-direction: row;
}

.cadregauche {
  text-align: center;
  background: rgb(240,240,240);
  flex: 0 0 15%;
}
.cadregauchevertical {
  display: flex;
  flex-direction: column;
  height: 99vmin;/*100vh=100% de la hauteur visible (viewport), 99 permet de mieux voir les options en bas
  pour le smartphone vmin est mieux que vh sinon boutons export très bas...*/
}
.cadregaucheverticalhaut {
  text-align: center;
  background: rgb(240,240,240);
}
.cadregaucheverticalcentre {
  overflow: auto;/*important, affiche l'ascenseur sinon liste des noms déborde vers le bas*/
  text-align: center;
  background: rgb(240,240,240);
  flex: 1 1 auto;
  min-height:50px;/*permet d'afficher toujours au moins 1 nom*/
  border: 1px dotted;
}
.cadregaucheverticalbas {
  text-align: center;
  background: rgb(240,240,240);
}

.cadrecentre {
   text-align: center;
   flex: 0 0 15%;
}

.cadredroite {
   flex: 1 1 auto;
}

.cadrevertical {
  border: 1px solid gray;
}

canvas,svg {
  position: absolute;
}

#canvasTarget{
  position: relative;
  top: 25px;/*15 pour chrome, 28 pour firefox ?,  permet de descendre le thème pour pouvoir accéder à la liste des transits*/
}

#svg {
  position: relative;
  top: 0px; /* -1%; /*-10px;/*0 pour chrome et firefox, permet de descendre le thème pour pouvoir accéder à la liste des transits*/
}
 
select {/*réduit la hauteur de la liste de choix des transits (pour firefox) idem ci-dessus mais évite de descendre le thème*/
    font-size: 0.8vw;
    padding: 0;
    box-sizing: border-box;
}
option,li {
  font-size: 0.8vw;
}

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
  text-align: center;
  border-style: none;
}

th, td {
  border: 1px solid black;
  font-size: 0.8vw;/*sert pour les tableaux de tansit*/
}

.tabcell {
  border-style: none;
}

.tabcelldroite {
  border-style: none;
  text-align: right;
}

.tabcellgauche {
  border-style: none;
  text-align: left;
}

.tabMP {
    text-align: center;
    flex: 0 0 15%;
   /* border-style: none;*/ /*ne fonctionne qu'au niveau des cellules*/
   /*pour ascenseur, marche uniquement avec un div affecté au tableau (divtabmp)*/
    overflow: auto;
    max-height: 99vh; /*700px;*/
}

header, footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
}
 
.clearfix {
  clear: both;
}

.nombres4 {
  width: 4em; /*3.2vw; "em" bien pour le zoom !*/
  min-width:40px;
  cursor: pointer;
}

.nombres3 {
  width: 3em; /*2.8vw;*/
  min-width:40px;
  cursor: pointer;
}

.add { /*encadrement boutons haut-gauche*/
    margin: 1px;
}

/* Selects any invalid <input> */
input:invalid {
  border: 2px dashed red;
}
/* Selects any valid <input> */
/*input:valid {
  font-size: 0.8vw;
}*/

.inertetrue {
  pointer-events: none;/* empêche le clic de souris */
}

/*page d'options*/

label[class="option"][id="labelLieu"],label[class="option"][id="labelTimezone"],button[class="option"]{
  font-size: 1em;
}
label[class="option"]{
  font-size: 1em;
  color: blue;
}
input[class="option"][type="number"]{
  font-size: 2.5vh; /*1em;*/
  width: 4em;
}
input[class="option"][type="text"]{
  font-size: 2.5vh; /*1em;*/
  width: 15em;
}
